@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sriracha&family=Story+Script&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passion One", sans-serif;
    --fonte3: "Sriracha", cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    
    min-height: 100vh; 
    /*
    100 - 100% da altura ou largura.
    "vh" - view hight (ver altura).
    "vw" - view weight (ver largura).
    */
    background-color: darkgray;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 { /* (seletores) */
    padding-top:50px;
    text-transform: uppercase;
    font-variant: small-caps; /* essa declaração ("font-variant: small-caps;") também é uma forma de deixar tudo em letra maiúscula */
    font-family: var(--fonte2);
    font-size: 10vw; /* Uma forma de adaptar as letras ao tamanho da tela */

    /*

    (propriedade) "text-transform: uppercase;" (valor)

    A propriedade "text-transform" com o valor "uppercase" é uma forma de deixar tudo em letra maiusculas nas folhas de estilo (css)

    */
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;

}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3vw;
}
section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: gray;
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.274);
    background-size: cover;
    background-attachment: fixed;

    /* "efeito "paralax" */
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(85, 85, 85, 0.404);
    text-shadow: 1px 1px 2px black;
}

section#img01 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}

section#img02 {
    background-image: url('../imagens/background002.jpg');
    background-position: left center;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}